/*
ほしをさがして 特設サイト内で共通化するCSS
*/

/* フォントの読み込み*/

@font-face {
  font-family: 'Chalk-S-JP';
  src: url('../../public/fonts/Chalk-S-JP.otf') format("opentype");
}

  body {
    font-family: 'Chalk-S-JP';
    background-color: #0d0d0d;
    color: #fff;
    text-align: center;
  }

  header {
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    padding:0.2rem 1rem;
    background-color: rgba(50, 50, 100, 10);
    z-index: 999;
  }

  h1{
    padding-top: 5rem;
    font-size: 2.5rem;
  }

  p{
    font-size: 4vh;
    padding: 0rem 2rem;
  }

  #header-content{
    align-items: center;
    justify-content: space-between;
  }
  
  header img {
    width:15vw;
  }

  header a{
    font-size: 3vw;
    color: #fff;
    text-decoration: none;
  }

  #top-section {
    height: 100vh;
    background-image: url("../img/star-2023/classroom_logo.png");
    background-size: 100% auto; /* 画像を横幅100%に合わせ、高さを自動調整 */
    background-attachment: scroll;
    background-position: top;
    z-index: 1;
    background-repeat: no-repeat;
  }

  #sns-area{
    text-align: end;
    position: relative;
  }

  .sns-icon img{
    width:7%;
    padding: 0.5rem;
  }

  .catchcopy{
    font-family:serif;
    padding-top: 1rem;
    font-size: 5vw;
  }

  #cast-section div{
    padding-top: 1rem;
  }

  #cast-section img{
    width:35vw;
    padding:0 2rem;
    animation: rotate 9s linear infinite;
    z-index: 2;
    position: sticky;
  }

  .pic-left{
    padding-right: 2rem;
  }

  .pic-right{
    padding-left: 2rem;
  }

  .intro{
    padding-right: 3rem;
  }

  #info-section p{
    padding: 0rem 2rem;
  }

  #attention p{
    font-size: 2vw;
  }

  .BB a{
    font-size: 2vw;
    color: #fff;
    position: absolute;
    right:0;
    bottom:0;
    padding: 1.5rem;
  }

  #comment-section p{
    font-size: 2vw;
    padding:3rem 5rem;
    background-image: url("../img/brackboard.png");
    background-size: 100% 100%;
  }

  .comment-left{
    padding-right:30vw;
    margin-left:2.5rem;
  }

  .comment-right{
    padding-left:30vw;
    margin-right:2.5rem;
  }

  .catchcopy span{opacity: 0;}
  .catchcopy.appeartext span{ animation:text_anime_on 1s ease-out forwards; }
  @keyframes text_anime_on {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  .copyright{
    font-size: 2vw;
    text-align: end;
  }



@media screen and (max-width: 768px) {

  header{
    padding: 0.5rem;
  }

  header img {
    width: 20vw;
  }

  header a {
    font-size: 3.3vw;
  }

  #top-section {
    height: 50vh;
  }

  p{
    font-size: 4vw;
  }

  #cast-section img{
    width:35vw;
    padding:0 2rem;
    animation: rotate 9s linear infinite;
    z-index: 1;
    position: sticky;
  }

  #attention p{
    font-size: 3vw;
  }

  #comment-section p{
    font-size: 2.5vw;
    padding:3rem 2rem;
    background-image: url("../img/brackboard.png");
    background-size: 100% 100%;
  }

  .comment-left{
    padding-right:30vw;
    margin-left:2.5rem;
  }

  .comment-right{
    padding-left:30vw;
    margin-right:2.5rem;
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
