/*
ほしをさがして 特設サイト内で共通化するCSS
*/

/* フォントの読み込み*/

@font-face {
  font-family: 'Chalk-S-JP';
  src: url('../../public/fonts/Chalk-S-JP.otf') format("opentype");
}

  body {
    font-family: 'Chalk-S-JP';
    background-color: #0d0d0d;
    color: #fff;
    height: calc(100vh - 2rem);
    display: flex;
    flex-direction: column;
    text-align: center;
    scroll-behavior: smooth;
  }
  
  @supports (min-height: 100dvh) {
    body {
      height: calc(100dvh - 2rem);
    }
  }

  header {
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    padding: 1rem;
    background-color: rgba(50, 50, 100, 10);
  }
  
  header img {
    width:15vw;
  }

  header a{
    font-size: 3vw;
    color: #fff;
    text-decoration: none;
  }

  #top-section{
    background-image: url("../img/star-2023/classroom.jpeg");
    background-size: 100% auto; /* 画像を要素に合わせて表示 */
    background-attachment: scroll;
    background-position: top; /* 画像を上端に配置 */
    z-index: 1; /* 他の要素よりも手前に表示 */
    background-repeat: no-repeat;
  }

  #top-section img{
    width:50%;
    padding:6.5rem;
    margin-top: auto;
  }