@charset "utf-8";

@font-face {
    font-family: "kaifont";
    src: url("../../../../public/fonts/kaiso_up_web/Kaisotai-Next-UP-B.woff2") format("truetype");
}


/* Reset style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/*
Base style
*/
body{
    font-family: "kaifont";  /* , "Noto Sans JP", sans-serif, "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif; */
    font-size: 15px;
    line-height: 1.5;
    color: #333;
    background-color: #243949;
}
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/*
順次公開予定
*/
.released {
    border: white 3px solid;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.408);
    color: white;
}


/*
section
*/
.section {
    padding: 30px 15px;
    background-color: white;
    color: white;
}
.section.section-story {
    background: linear-gradient(to top, #cfd9df 0%, #e2ebf000 100%),url(../../../img/ai-2024/bg/blue-bg.png);  /* 背景画像指定 */
}
.section.section-secondary {
    background-color: rgb(54, 54, 54); /* #f4f5f5 */
}
.section.info {
    background-image: url(../../../img/ai-2024/bg/bg-more.png);
    position: relative;

}

.section.section-thirdry {
    background-image: linear-gradient(to right, #cad2d8c3 0%, #cfd9df 0%, #e2ebf000 100%#517fa4ab 100%);
    color: #333;
}
.section.section-forth {
    background-image: url(../../../img/ai-2024/bg/box_gray.jpg);
}

.section-headline {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 40px;
}

/*
upper-header
*/
.for-header-area {
    background-color: #243949;
    width: 100%;
    height: 90px;
    padding: 0 15px;
}

/*
header
*/
.header-bg {
    background-color: #333333b4;
    width: 100%;
    height: 90px;
    padding: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
}
.header-contents {
    width: 100%;
    height: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.header-logo {
    margin: 0;
}
.header-logo > a {
    display: block;
}

/*ロゴの利用をsvg → img に変える際に追加した*/
a > img {
    width: 120px;
    height: 120px;
}


/* .header-nav {} */
.header-navlist {
    margin: 0;
    display: flex;
    justify-content: end;
    align-items: center;
}
/* .header-navitem {} */
.header-navitem > a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: border-color .25s;
    font-size: 160%;
}
.header-navitem > a:hover{
    border-bottom: 2px solid #ccc;
    color: rgb(136, 250, 250);
}

/* Responsive menu button */
.responsive_btn {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin: 0 10px 0 0;
    cursor: pointer;
    position: relative;
    z-index: 10;
}
.menu_line {
    background: #fafafa;
    border-radius: 5px;
    width: 100%;
    height: 5px;
    margin: 4px 0;
    transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
}

/* Responsive style */
@media screen and (max-width: 768px) {
    .responsive_btn {
        display: flex;
    }
    .header-bg {
        margin: 0;
        padding: 0;
        position: fixed;
    }
    .header-nav {
        background: #333333b4;
        width: 100%;
        height: 100vh;
        padding: 80px 0 0 0;
        position: fixed;
        top: 0;
        right: -100%;
        transition: .25s;
    }
    .header-navlist {
        display: block;
        text-align: center;
    }
    .header-navitem {
        margin: 0 0 40px;
        text-align: center;
    }
    .header-navitem li a {
        font-size: 20px;
    }
}

/* js function "menuToggle" starting only */
.menu_active {
    right: 0;
}

/* When the menu is active, transform lines into an "X" */
.menu_active .menu_line:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}
.menu_active .menu_line:nth-child(2) {
    opacity: 0;
}
.menu_active .menu_line:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
}

.header-nav.menu_active {
    background: linear-gradient(to top, #cfd9df 0%, #e2ebf000 100%),url(../images/iniactors_square.jpg);  /* 背景画像指定 */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}




/*
hero
*/
.hero {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vw; /* 高さをビューポートの高さの50%に設定 */
    position: relative;
    overflow: hidden; /* コンテナ外のビデオが表示されないようにする */
}

/* PC用のスタイル */
@media screen and (min-width: 769px) {
    .hero {
        height: 90vh; /* PC画面いっぱいより少し小さめ */
    }
}

/* .emp-character {} */
.emp-character:hover {
    color: #333;
    font-style: italic;
}

.hero > strong {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 65px;
    color: rgb(255, 255, 255);
    display: block;
    width: 100%;
    text-align: center;
    z-index: 2;
}

.hero > video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /* アスペクト比を維持しつつビデオをトリミング */
    z-index: 1;
}

/*追加した*/
.hero-title 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 画像を中央に配置 */
    margin: 0;
    width: 100%;
    height: auto;
    max-height: cover;
    object-fit: cover;
    z-index: 2;

}

/*
sns-area
*/
.sns-area {
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    background-color: rgb(42, 41, 41);
    position: relative; /* 親要素にrelativeを設定 */
}
.sns-area > a {
    margin: 0 5px;
}

.questionnaire {
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
    position: absolute;
    bottom: 10px; /* 下から10pxの位置に配置 */
    right: 10px;  /* 右から10pxの位置に配置 */
}
.questionnaire > a {
    color: whitesmoke;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-color .25s;
    font-size: 30px;
}
.questionnaire > a:hover {
    border-bottom: 2px solid #ccc;
}

@media (max-width:768px){
    .questionnaire > a {
        font-size: 15px;
    }
}

/*
story
*/
.story {
    background-color: rgba(5, 28, 25, 0.445);
    padding: 10px;
    margin: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    border:1px solid #84c1ff;/*枠線*/
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);/*影*/
}
.story-description {
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 2;
    color: white;
    font-size: 30px;
}


/*
cast1
*/
.cast {
    margin: 0 0 20px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cast:hover {
    background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
    color: whitesmoke;
}

.cast_reverse {
    margin: 0 0 20px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse; /* 画像とキャプションの位置を反転 */
}
.cast_reverse:hover {
    background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
    color: whitesmoke;
}

.cast-image {
    flex-shrink: 0;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 0;
}
.cast-caption {
    padding-left: 15px;
}

.cast-caption_reverse {
    padding-right: 15px;
}

.cast-headline {
    margin: 0 0 20px;
    font-size: 30px;
    text-align: center;
}
.cast-description {
    margin: 0;
    text-align: center;
}



/*
cast-silhouette
*/
.cast-container {

    display: flex;
    justify-content: center;
    align-items: center;
}

/*コンテナ*/
.slider-container {
    position: relative;
    width: 800px;
    height: 500px;
    border: 5px solid rgb(46, 45, 45); /*画像の周りを枠線で囲む*/
    /* background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); */
    background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
    background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
}

/*画像*/
.cast-silhouette {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;  /*コンテナと同じ幅*/
    height: 100%; /*コンテナと同じ高さ*/
    object-fit: contain;
}

/*キャラクターの名前の部分*/
.silhouette-caption {
    position: absolute;
    bottom: 0; /*コンテナの下部に配置*/
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    background: rgba(0, 0, 0, 0.7);
}

/*キャラクター紹介のテキスト*/
.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*真ん中に表示するために中央へ移動*/
    color: white;
    font-size: 180%;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /*テキストに影を付ける*/
    border:1px solid #84c1ff;/*枠線*/
    padding: 10px;
    background-color: rgba(5, 28, 25, 0.445);
    width: 80%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);/*影*/
}

/*ボタン*/
button {
    position: absolute;
    bottom: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background: rgb(74, 74, 74);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    z-index: 1;
}

/*ボタンにマウスオンで色を変える*/
button:hover {
    background: rgb(121, 198, 194);
}

/*前へ戻るボタンの位置は左端*/
.previous-btn {
    left: 10px;
}

/*次へ進むボタンの位置は右端*/
.next-btn {
    right: 10px;
} 


/*
information
*/

/* PC画面用の設定 (横並び) */
.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* 横方向の中央揃え */
}
.grid-col2 > .grid-item {
    width: 48%; /* 横に2つ並べるため50%から余白分を引いています */
    display: flex;
    justify-content: center; /* 横方向の中央揃え */
    align-items: center; /* 縦方向の中央揃え */
}

/* スマートフォン画面用の設定 (縦並び) */
@media (max-width: 768px) {
    .grid {
        display: block;
    }
    .grid-col2 > .grid-item {
        width: 100%; /* スマートフォンでは1列表示 */
        display: flex;
        justify-content: center; /* 横方向の中央揃え */
        align-items: center; /* 縦方向の中央揃え */
    }
}


.card{
    padding: 0 10px;
    display: flex;
    justify-content: center; /* カード内で縦方向の中央揃え */
    align-items: center; /* カード内で横方向の中央揃え */
    text-align: center; /* テキストの中央揃え */
}
.card-link{
    display: flex;
    color: #333;
    text-decoration: none;
    position: relative;
    transition: background-color .25s;
}

.card-link:hover:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    /* background-color: rgba(0,255,255,.2); */
    background-image: linear-gradient(to top, #30d0d02b 0%, #33086715 100%);
    z-index: 1;
    border-radius: 2%;
}
.card-image{
    flex-shrink: 0;
    height: auto;
    object-fit: cover;
    max-width: 100%; /* 画像が親要素を超えないようにする */
    margin: 0 0 20px;
    z-index: 2;
}

.card-title {
    background-color: rgb(179, 179, 192);
    background-image: url(../images/bg/box_blue.jpg);
    margin: 0 0 20px;
    padding: 60px;
    position: relative;
}
.card-day {
    font-size: 23px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); /* 中央寄せ（調整）*/
}

@media (max-width: 768px){
    .card {
        display: inline;
    }
    .card-title {
        background-color: rgb(179, 179, 192);
        margin: 0 0 20px;
        padding: 20px;
        position: relative;
    }
}

.card-info{
    background-color:rgba(12, 92, 126, 0.753) ; /* rgb(248, 248, 248) */
    color: whitesmoke;
    margin: 0 0 20px;
    padding: 10px;
    height: auto;
    width: 100%; /* カードの幅を調整 */
}
.card-time{
    font-size: 20px;
    margin: 10px;
}                             
.card-description{
    margin: 10px;
}
.time-session{ 
    font-size: 30px;
}
.card-content{
    font-size: 20px;
}
.card-nav{
    margin: 10px;
    font-size: 15px;
    color: rgb(255, 212, 244);
}

#information-emp{
    color: #fff;
    -webkit-text-stroke: 0.5px rgb(255, 212, 244);
}
.information-note{
    text-align: center;
    font-size: 30px;
}

@media (max-width: 768px){
    .information-note{
        font-size: 20px;
    }
}

.information-reminder {
    background-color: rgba(5, 28, 25, 0.445);
    border:1px solid #84c1ff;/*枠線*/
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);/*影*/
    margin: 30px;
}
.information-reminder-contents {
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 30px;
    margin: 0;
}

/*
comment
*/

.comment{
    text-align: left;
}
.comment-headline{
    margin: 0 0 15px;
}

/* .comment-description{} */

.comment-description{
    padding: 30px;
    margin: 0 0 20px;
    background-color:#141e2c;/*背景色*/
    border:1px solid #e3f4f2;/*枠線*/
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);/*影*/
}
.comment-description.scriptwriter{
    background-color: #06adb615;
}
.comment-description.main-character{
    background-color: #06adb615;
}
.comment-description.someone{
    background-color: #06adb615;
}


/*
credit
*/
.details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
}
.summary {
    font-weight: bold;
    font-size: 30px;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
    color: #fff;
    justify-content: center;
    text-align: center;
    background-color: #333333;
}
.summary:hover {
    color: #4ec4d3;
}
.details[open] {
    padding: 0.5em;
}

.credit {
    display: flex; /* フレックスボックスを適用 */
    justify-content: center; /* 水平方向に中央寄せ */
    align-items: center; /* 垂直方向に中央寄せ（画像の高さに合わせる場合） */
    margin: 10px 0 0;
    padding: 0;
    background-color: #333333a5;
}
.credit-image {
    display: block; /* 画像の下に余白を作らない */
    max-width: 100%; /* 画像が親要素を超えないようにする */
    height: auto; /* アスペクト比を維持 */
    margin: 0;
    padding: 0;
}


/*
footer
*/
footer {
    background-color: #333;
}
.footer-line {
    border-color: #444;
    margin: 0;
}
.footer-contents {
    display: flex;
    justify-content: space-between;
}
.home-link {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0;
    font-size: 20px;
}
.footer-copy {

    color: rgb(252, 255, 242);
    padding: 10px;
    font-size: 20px;
}

@media (max-width:768px) {
    .home-link {
        font-size: 15px;
    }
    .footer-copy {
        font-size: 15px;
    }
}