/*
  アニメーションエリアのCSS設定
*/

@import url('./animation-common.css');
@import url('./animation-moving.css');

#animation-wrapper {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 9999;
  overflow: hidden;
}

#animation-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  gap: 0.2rem;
}

/* 「近未来」 */
#n001-001 {
  font-size: 10rem;
  animation: opacity0-1 0.0001s linear 0.4s 1 normal both;
}

/* 「の」 */
#n001-002 {
  animation: opacity0-1 0.0001s linear 0.75s 1 normal both;
}

/* 赤丸 */
#n002 {
  position: absolute;
  width: 10px;
  height: 10px;
  background: transparent;
  border: #bc002d 10px solid;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: n002 0.8s cubic-bezier(0.83, 0, 0.17, 1) 1.4s 1 normal both;
  z-index: -99999;
}

/* 「日本を舞台に」の背景 */
#n003 {
  scale: 1 0.8;
  margin-top: 1rem;
}

/* 「日本」 */
#n003-001 {
  font-style: italic;
  animation: opacity0-1 0.3s linear 2s 1 normal both;
}

/* 「を舞台に」 */
#n003-002 {
  animation: opacity0-1 0.0001s linear 2.4s 1 normal both;
}

/* 「急速な技術発展に異を唱える、一人の男が立ち上がる」の背景 */
#n004 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-image: url(../img/cybercity01.webp), url(../img/cybercity01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Noto Serif JP', serif;
  font-size: 5.5vmin;
  font-weight: 900;
  animation: n004 0.8s cubic-bezier(0.83, 0, 0.17, 1) 3.5s 1 normal both;
}

/* 「急速な技術発展に異を唱える、一人の男が立ち上がる」 */
#n004-001 {
  transform: scaleY(1.35);
  letter-spacing: -0.05rem;
  animation: opacity0-1 0.5s linear 4.25s 1 normal both,
    n004-001 0.8s 4.65s infinite alternate;
}

/* 「男」 */
#n004-002 {
  color: #e3974a;
}

/* 「平成」 */
#n005 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-family: 'Noto Serif JP', serif;
  font-size: 10vmin;
  transform: scaleY(1.35);
  letter-spacing: -0.05rem;
  animation: n005 0.5s cubic-bezier(0.83, 0, 0.17, 1) 7.8s 1 normal both,
    n005-flash 0.7s linear 8s 1 normal both;
}

/* 「VS」 */
#n006 {
  position: absolute;
  color: #000;
  font-size: 90vmax;
  animation: n006 2s cubic-bezier(0.83, 0, 0.17, 1) 9s 1 normal both;
}

/* 「令和」の背景 */
#n007 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  color: #24d5e7;
  animation: n007 0.3s cubic-bezier(0.83, 0, 0.17, 1) 11s 1 normal both;
}

/* 「令和」 */
#n007-001 {
  writing-mode: vertical-rl;
  font-size: 40vmin;
  padding: 8vmin 10px;
  margin: 0 0.5vmax 0 0;
  background: linear-gradient(
    transparent 10%,
    #ffdd00c5 10% 90%,
    transparent 90%
  );
}

/* 「開幕!」の背景 */
#n008 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  font-size: 18vmin;
  animation: opacity0-1 0.5s linear 13.6s 1 normal both;
}

/* 「開幕!」 */
#n008-001 {
  animation: opacity0-1 0.2s linear 14s 1 normal both;
}

/* アニメーション終了時のフェードアウト */
.end-animation {
  animation: opacity1-0 0.5s linear 1 normal both;
}
