body{
  background-color: #212121;
  font-family: 'Kiwi Maru','Helvetica Neue', Arial, 'Noto Sans JP','Noto Sans CJK JP', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', 'BIZ UDPGothic', 'Meiryo', sans-serif;
  color: #ffffff;
  margin: 0;
  font-weight: 300;
}

header{
  margin-top: 1rem;
 
}

h1, h2, h3{
  font-weight: 500;
}

p{
  line-height: 1.75rem;
}

.header-content{
  margin: 8rem 0;
}

@media (max-width: 768px) {
  .header-content{
    margin: 3rem 0;
  }
}

.header-content svg{
  max-height: 22rem;
}

.header-content .nav{
  list-style: none;
  color: #ffffff;
}

.header-content .nav a{
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
}

.header-content .nav a:hover{
  text-decoration: underline;
}

.header-content .nav a.link-iniad{
  font-size: 0.8rem;
  font-weight: 300;
}

.header-content .nav a.link-iniad svg{
  margin-left: 0.25rem;
}

.icon-sns:first-child{
  margin-right: 1rem;
}

.icon-sns a, .icon-sns a:visited{
  color: #ffffff;
}

.sub-text{
  font-size: calc(0.75rem + 0.25vw);
  font-weight: 300;
}

.info dt{
  text-decoration: underline;
}

.msg-copy{
  font-size: 1.15rem;
}