@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
  }
}

@font-face {
  font-family: 'GTK';
  src: url('../public/fonts/851Gkktt_005.ttf') format("opentype");
}

html {
  scroll-behavior: auto !important;
}

body {
  background-color: #212121;
  font-family: 'Kiwi Maru', 'Helvetica Neue', Arial, 'Noto Sans JP',
    'Noto Sans CJK JP', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans',
    'BIZ UDPGothic', 'Meiryo', sans-serif;
  color: #ffffff;
  margin: 0;
  font-weight: 300;
}

header {
  margin-top: 1rem;
}

h1,
h2,
h3 {
  font-weight: 500;
}

h2,
h3 {
  color: #e79f3c;
}

p {
  line-height: 1.75rem;
}

.color-iniad {
  color: #51abdf;
}

.header-content {
  margin: 8rem 0;
}

.header-content svg {
  max-height: 22rem;
}

.header-content .nav {
  list-style: none;
  color: #ffffff;
}

.header-content .nav a {
  margin-top: 1.75rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
}

.header-content .nav a:hover {
  text-decoration: underline;
}

.sns-area {
  display: flex;
  gap: 2rem;
}

.sns-area svg {
  height: 2.25rem;
}

.sns-area a,
.sns-area a:visited {
  color: #ffffff;
}

.header-content .nav a.link-iniad {
  font-size: 0.8rem;
  font-weight: 300;
}

.header-content .nav a.link-iniad svg {
  margin-left: 0.25rem;
  width: 0.8rem;
}

.btz-link-area {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
}

.btz-link {
  color: #fff;
  background: linear-gradient(25deg, #003b57, #4eb9b7);
  border: none;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  padding: 0.75rem 5rem;
  transition: 0.5s;
}

.btz-link-bottom {
  font-size: 1rem;
}

.btz-link:hover {
  color: #fff;
  transform: scale(1.1);
}

.star-link-area {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
}

.april {
  text-align: center;
  margin-top: 60px;
  padding: 20px;
  font-size: 36px;
  border-radius: 10px;
  background: #fff8e83b;
  border-left: solid 10px #ffffff;
}
.april-title {
  font-weight: bold;
  
}

@media (max-width:768px) {
  .april {
    font-size: 18px;
  }
}

.fes {
  margin-top: 2rem;
  color: #fff;
  background-image: url("../src/img/ai-2024/Frame.png");
  background-size: 100% 100%;
  border: none;
  padding: 12% 12% 10%;
  transition: 0.5s;
  font-family: 'GTK';
  text-decoration: none;
  font-size: 5vw; /* ビューポート幅の5%に相当 */
  white-space: nowrap; /* 改行を防ぎ、一行に収める */
}

.fes:hover {
  background-image: url("../src/img/ai-2024/Frame_white.png");
  background-size: 100% 100%;
  color: white;
}

.ank{
    border: 1px solid #333;
    padding: 5px;
    background: #00a196;
    margin: 5px 0;
    width: fit-content;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.ank:hover{
  color: #DDDDDD;
}

.sub-text {
  font-size: min(calc(0.75rem + 0.25vw), 5rem);
  font-weight: 300;
}

summary {
  outline: none;
}

.work {
  border: #ffffff solid 2px;
  border-radius: 1rem;
  padding: 1rem;
}

.work-description {
  padding-bottom: 0.25rem;
  border-bottom: #ffffff 0.25px solid;
  margin-bottom: 2rem;
}

.work-description-no-border {
  border: none;
  margin-bottom: 0;
}

.work-row {
  text-align: center;
}

.work-row img {
  max-height: 30rem;
}

.work-content-description {
  font-size: min(calc(0.65rem + 0.5vw), 1.2rem);
  line-height: 1.35rem;
  margin-bottom: 1.5rem;
}

.work-content-description-single {
  font-size: min(calc(0.65rem + 0.5vw), 1.25rem);
  line-height: 1.7rem;
  margin-bottom: 1.5rem;
  text-align: left;
}

.info dt {
  text-decoration: underline;
}

.msg-copy {
  font-size: 1.15rem;
}

.btn-join {
  color: #000000;
  background-color: #ffffff;
  border: solid 5px #ea3323;
  font-size: 1.5rem;
  padding: 0.6rem 0.75rem;
  width: 100%;
}

.btn-join:hover {
  color: #000000;
  border: solid 5px #f3584a;
}

.btn-join .sub-btn-text {
  font-size: 0.75rem;
}

.btn-work {
  color: #000000;
  background-color: #ffffff;
  border: solid 5px #2396ea;
  font-size: 1.25rem;
  line-height: 3rem;
  width: 100%;
}

.btn-work:hover {
  color: #000000;
  border: solid 5px #4ea9eb;
}

footer {
  margin-top: 8rem;
  margin-bottom: env(safe-area-inset-bottom);
  font-size: 0.75rem;
}

footer a,
footer a:visited,
footer a:hover {
  color: #ffffff;
}

@media (max-width: 992px) {
  .work-row img {
    max-height: 20rem;
  }
}

@media (max-width: 768px) {
  .header-content {
    margin: 3rem 0;
  }

  .header-content .nav a {
    margin-top: 0.5rem;
  }

  .btz-link-area {
    padding: 2rem;
  }

  .btz-link {
    padding: 0.75rem 1.5rem;
  }

  .work-content-description-single {
    padding: 0 1.1rem;
    line-height: 1.5rem;
  }
}