html{
  scroll-behavior: auto!important;
}

body{
  background-color: #212121;
  font-family: 'Kiwi Maru','Helvetica Neue', Arial, 'Noto Sans JP','Noto Sans CJK JP', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', 'BIZ UDPGothic', 'Meiryo', sans-serif;
  color: #ffffff;
  margin: 0;
  font-weight: 300;
}

header{
  margin-top: 1rem;
 
}

h1, h2, h3{
  font-weight: 500;
}

h2, h3{
  color: #e79f3c
}

p{
  line-height: 1.75rem;
}

.color-iniad{
  color: #51abdf
}

.header-content{
  margin: 8rem 0;
}

.header-content svg{
  max-height: 22rem;
}

.header-content .nav{
  list-style: none;
  color: #ffffff;
}

.header-content .nav a{
  margin-top: 1.75rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
}

.header-content .nav a:hover{
  text-decoration: underline;
}

.header-content .nav a.link-iniad{
  font-size: 0.8rem;
  font-weight: 300;
}

.header-content .nav a.link-iniad svg{
  margin-left: 0.25rem;
  width: 0.8rem;
}

.icon-sns:first-child{
  margin-right: 1rem;
}

.icon-sns a, .icon-sns a:visited{
  color: #ffffff;
}

.sub-text{
  font-size: calc(0.75rem + 0.25vw);
  font-weight: 300;
}

summary{
  outline: none;
}

.works{
  border: #ffffff solid 2px;
  border-radius: 1rem;
  padding: 1rem;
}

.works-description{
  padding-bottom: 0.25rem;
  border-bottom: #ffffff 0.25px solid;
  margin-bottom: 2rem;
}

.works-row{
  text-align: center;
}

.works-row img{
  max-height: 30rem;
}

.works-content-description{
  font-size: calc(0.65rem + 0.5vw);
  line-height: 1.35rem;
  margin-bottom: 1.5rem;
}

.info dt{
  text-decoration: underline;
}

.msg-copy{
  font-size: 1.15rem;
}

.btn-form{
  color: #000000;
  background-color: #ffffff;
  border: solid 5px #ea3323;
  font-size: 1.5rem;
  padding: 0.6rem 0.75rem;
  width: 100%;
}

.btn-form:hover{
  color: #000000;
  border: solid 5px #f3584a;
}

.btn-form .sub-btn-text{
  font-size: 0.75rem;
}

.btn-works{
  color: #000000;
  background-color: #ffffff;
  border: solid 5px #2396EA;
  font-size: 1.25rem;
  line-height: 3rem;
  width: 100%;
}

.btn-works:hover{
  color: #000000;
  border: solid 5px #4ea9eb;
}

footer{
  margin-top: 5rem;
  margin-bottom: env(safe-area-inset-bottom);
  font-size: 0.75rem;
}

@media (max-width: 992px) {
  .works-row img{
    max-height: 20rem;
  }
}

@media (max-width: 768px) {
  .header-content{
    margin: 3rem 0;
  }
  
  .header-content .nav a{
    margin-top: 0.5rem;
  }
}
